!!!
%html
  %head
    %title Protonet Wiki
  %body
    %h1 Wiki - it's yours [to edit]
    
    %p Keep all of your pages readily accessible without giving up the data :)
    
    %p<
      Debug info: you are user #
      %span>= request.env['HTTP_X_USER_ID']

    %ul
      - @pages.each do |item|
        %li{:class => 'pending'}
          %a{:href => url("/#{item[:name]}")}= h(item[:title])
      %li{:class => 'new'}
        %a{:href => url('/new')} New page
